:root {
    --bg-color-01: #191919;
    --bg-color-02: #1e1e1e;
    --bg-color-03: #ffffff;

    --bg-color-alpha-01: #ffffff1a;

    --color-01: #000000;
    --color-02: #191919;
    --color-03: #2d2d2d;
    --color-04: #7d7d7d;
    --color-05: #969696;
    --color-06: #e1e1e1;
    --color-07: #ffffff;
}

* {
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-01);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 87px;
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

header {
    width: 100%;
    background-color: var(--bg-color-01);
    position: fixed;
    top: 0px;
    z-index: 10;
}

main {
    width: 55%;
}

footer {
    width: 25%;
    height: 150px;
    align-content: center;
}

.textAlignCenter {
    text-align: center;
}

/*Button return to Top*/
.textAlignCenter h1 a:link {
    color: var(--color-06);
}

.textAlignCenter h1 a:visited {
    color: var(--color-06);
}

/*Style Links*/
.linkModules {
    display: block;
    border-radius: 5px;
    border: solid 1px var(--color-02);
    padding: 0px 10px;
    margin: 10px 0px;
}

.linkModules:hover {
    background-color: var(--bg-color-02);
    border: solid 1px var(--color-03);
}

.linkModules:link {
    color: var(--color-06);
}

.linkModules:visited {
    color: var(--color-07);
}